*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:black;
    font-family: 'Comic Neue', cursive;
}
header{
    background-image: url(./img/design1_image1.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-repeat: cover;
    background-position: 15% 35%;    
}

h1{
    text-align: left;
    font-size: 60px;
    margin-left: 35px;
    padding-top: 15px;
}

#logo{
    background-color: white;
    display: flex;
    float: right;
    margin-top: -140px;
    margin-right: 65px;
    width: 20%;
    border: 5px solid black;
}

h2{
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 5px;
}

.flex-container{
    padding: 30px;
    display: flex;
}

ol li{
    width: 100px;
    margin-bottom: 55px;
    text-decoration: none;
    list-style: none;
}


nav{
    padding-top: 35px;
}

.events{
    margin-top: 35px;
    margin-left: 75px;
    display: inline-block;
    text-align:justify;
    height: auto;
}

#about{
    width: auto;
    margin-left: 75px;
    margin-top: 35px;
    display: inline-block;
    text-align:justify;
}

p{
    padding: 10px;
    text-indent: 20px;
    text-align:justify;
}

.contact{
    margin-left: 75px;
    margin-top: 35px;
}
